<!doctype html>
<html lang="en">
  <head>
    <title>{% if party %}{% if piece %}Piece {{piece.properties.id}} — {% endif %}{{ party.title }}{% else %}Mapping Parties{% endif %}</title>
    {% block header %}{% endblock %}
    <style>.flashes { color: red; }</style>
  </head>
  <body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
